---

---


<header class="header">
 <a href="/" class="link logo" data-content="Noel.fun"><strong>N</strong>oel.<strong>fun</strong></a>
 <a href="/about" class="link" data-content="About">About</a>
</header>


<style>
    .header {
       display: flex;
       justify-content: space-between;
       column-gap: 2rem;
       background-image: linear-gradient(to bottom, transparent, transparent calc(50% - 1px), currentColor calc(50% - 1px), currentColor 50%, transparent 50%, transparent 100%);
    }
</style>
